<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.AdmininfoMapper" >
  <resultMap id="BaseResultMap" type="entity.Admininfo" >
    <id column="AD_ID" property="adId" jdbcType="DECIMAL" />
    <result column="AD_NAME" property="adName" jdbcType="VARCHAR" />
    <result column="AD_PASSWORD" property="adPassword" jdbcType="VARCHAR" />
    <result column="ROLE" property="role" jdbcType="DECIMAL" />
  </resultMap>
  <resultMap id="BaseResultMap2" type="entity.Delivery" >
    <id column="O_ID" property="oId" jdbcType="DECIMAL" />
    <result column="USERID" property="userid" jdbcType="DECIMAL" />
    <result column="P_CODE" property="pCode" jdbcType="DECIMAL" />
    <result column="P_NAME" property="pName" jdbcType="VARCHAR" />
    <result column="OD_NUM" property="odNum" jdbcType="DECIMAL" />
    <result column="ORDERTIME" property="ordertime" jdbcType="VARCHAR" />
    <result column="PID" property="pid" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List2">
  O_ID,USERID,P_CODE,P_NAME,OD_NUM,ORDERTIME,PID,STATUS
  </sql>
  <sql id="Base_Column_List" >
    AD_ID, AD_NAME, AD_PASSWORD, ROLE
  </sql>
  <select id="selectAllOrder" resultMap="BaseResultMap2">
    select oi.o_id,oi.userid,pi.p_code,pi.p_name,od.od_num,oi.ordertime,oi.pid,oi.status from orderinfo oi,orderdetail od ,productinfo pi where oi.pid=od.od_id and od.p_id=pi.p_id
  </select>
  <select id="selectByadName" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from admininfo where AD_NAME=#{adName.jdbcType=VARCHAR}
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ADMININFO
    where AD_ID = #{adId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ADMININFO
    where AD_ID = #{adId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="entity.Admininfo" >
    insert into ADMININFO (AD_ID, AD_NAME, AD_PASSWORD, 
      ROLE)
    values (#{adId,jdbcType=DECIMAL}, #{adName,jdbcType=VARCHAR}, #{adPassword,jdbcType=VARCHAR}, 
      #{role,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="entity.Admininfo" >
    insert into ADMININFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="adId != null" >
        AD_ID,
      </if>
      <if test="adName != null" >
        AD_NAME,
      </if>
      <if test="adPassword != null" >
        AD_PASSWORD,
      </if>
      <if test="role != null" >
        ROLE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="adId != null" >
        #{adId,jdbcType=DECIMAL},
      </if>
      <if test="adName != null" >
        #{adName,jdbcType=VARCHAR},
      </if>
      <if test="adPassword != null" >
        #{adPassword,jdbcType=VARCHAR},
      </if>
      <if test="role != null" >
        #{role,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="entity.Admininfo" >
    update ADMININFO
    <set >
      <if test="adName != null" >
        AD_NAME = #{adName,jdbcType=VARCHAR},
      </if>
      <if test="adPassword != null" >
        AD_PASSWORD = #{adPassword,jdbcType=VARCHAR},
      </if>
      <if test="role != null" >
        ROLE = #{role,jdbcType=DECIMAL},
      </if>
    </set>
    where AD_ID = #{adId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.Admininfo" >
    update ADMININFO
    set AD_NAME = #{adName,jdbcType=VARCHAR},
      AD_PASSWORD = #{adPassword,jdbcType=VARCHAR},
      ROLE = #{role,jdbcType=DECIMAL}
    where AD_ID = #{adId,jdbcType=DECIMAL}
  </update>
</mapper>